body {
  font-family: azo-sans-web, sans-serif;
  margin: 0px;
}

#pc-header {
  background-color: #f04037;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  min-width: 1900px;
  width: 100%;
}

#pc-header .pc-header-wrap {
  max-width: 1800px;
  min-width: 350px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 3%;
}

#pc-header .pc-header-wrap .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#pc-header .pc-header-wrap .logo-wrap .logo-img {
  max-width: 40px;
}

#pc-header .pc-header-wrap .logo-wrap .logo-title {
  margin: 0px;
  margin-left: 10px;
  color: #f9f9f9;
}

#pc-header .pc-header-wrap .promo-wrap i {
  color: rgba(255, 255, 255, 0.514);
}

.display-sec {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  padding: 0px 100px;
}

.stat-bar {
  width: 100%;
  height: 5px;
  background: #f9f9f9;
  position: relative;
}

.stat-climb {
  background-color: #28af23;
  height: 5px;
}

.app-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1000px;
}

.pkmn-box {
  width: 180px;
  height: 180px;
  /* background: #f9f9f9; */
  margin: 10px;
  cursor: pointer;
}

.pkmn-box:hover {
  opacity: 0.7;
}

.res-clicked {
  opacity: 0.6;
}

.title-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}

.title-bar .del-pkmn {
  cursor: pointer;
}

.title-bar .del-pkmn:hover {
  opacity: 0.7;
}

.title-bar .rank {
  cursor: auto;
}

.pkmn-box-info {
  text-align: center;
}

.pkmn-box-info h4 {
  margin: 0px;
}

.chart-display-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.chart-display-info .chart-title {
  font-size: 30px;
  margin: 0px;
  margin-right: 45px;
  text-transform: uppercase;
}

.chart-display-info .chart-form .chart-save-input {
  max-width: 365px;
  width: 100%;
}

.chart-display-info .new-chart-btn {
  background: #f04037;
  color: #f9f9f9;
  border: 2px solid #f04037;
  margin-right: 15px;
  font-weight: 800;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px;
}

.chart-display-info .new-chart-btn:hover {
  background: transparent;
  color: #f04037;
}

.chart-display-info .display-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart-display-info .display-right .size-setter {
  text-align: right;
  margin-right: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slide-btn-wrap {
  margin-top: 35px;
}

.slide-btn-wrap button {
  font-weight: 800;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px;
}

.slide-btn-wrap .Filter-slide-btn {
  background: #f04037;
  color: #f9f9f9;
  border: 2px solid #f04037;
  margin-right: 15px;
}

.slide-btn-wrap .Filter-slide-btn:hover {
  background: transparent;
  color: #f04037;
}

.slide-btn-wrap .Chart-slide-btn {
  border: 2px solid #f04037;
  background: transparent;
  color: #f04037;
}

.slide-btn-wrap .Chart-slide-btn:hover {
  background: #f04037;
  color: #f9f9f9;
  border: 2px solid #f04037;
}

.src-filter {
  padding-right: 20px;
  position: relative;
}

.src-filter .filter-return {
  position: absolute;
  font-size: 14px;
  color: #f04037;
  top: 10px;
  cursor: pointer;
}

.src-filter .filter-return .fa-undo {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.src-filter .filter-return:hover {
  opacity: 0.7;
}

.src-filter .filter-return:hover .fa-undo {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.src-filter .pkmn-input {
  border: none;
  border-bottom: 2px solid #f04037;
  background-color: transparent;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 30px;
}

.src-filter .pkmn-input:focus-visible {
  outline: none;
}

.src-filter .pkmn-input::-webkit-input-placeholder {
  color: #33333362;
  font-size: 14px;
}

.src-filter .pkmn-input:-ms-input-placeholder {
  color: #33333362;
  font-size: 14px;
}

.src-filter .pkmn-input::-ms-input-placeholder {
  color: #33333362;
  font-size: 14px;
}

.src-filter .pkmn-input::placeholder {
  color: #33333362;
  font-size: 14px;
}

.search-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: scroll;
  z-index: 1;
  position: relative;
  direction: ltr;
  border-radius: 10px;
  margin-top: 0px;
}

.search-display::-webkit-scrollbar {
  width: 7px;
}

.search-display::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

.search-display::-webkit-scrollbar-thumb {
  background: #f04037;
  border-radius: 5px;
}

.pkmn-display {
  width: 33.33%;
  margin: 5px 0px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pkmn-display:hover {
  border-color: #f04037;
}

.pkmn-display h4 {
  margin: 0px;
  font-size: 12px;
  text-align: center;
}

.pkmn-meta {
  display: none;
}

.res-and-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 365px;
  height: calc(100vh - 80px);
  background: #f9f9f9;
  padding: 15px;
  padding-bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  min-width: 365px;
  top: 0;
}

.res-and-list-scroll {
  height: 100vh;
}

.pkmn-display,
.pkmn-box {
  position: relative;
}

.poke-hover {
  display: none;
  position: absolute;
  top: -110px;
  right: -80px;
  background: blue;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  z-index: 999;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
}

/* .pkmn-box:hover .poke-hover,
  .pkmn-display:hover .poke-hover {
    display: flex;
  } */
.poke-hover h6 {
  margin: 0px;
}

.poke-hover ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.poke-hover .stat-ul li span {
  padding: 2px 0px;
  display: block;
}

.poke-hover .type-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.poke-hover .type-ul li {
  margin-right: 5px;
}

.pokebox-bg {
  position: absolute;
  z-index: 1;
  opacity: 0.09;
  width: 100%;
}

.pkmn-box-info,
.title-bar {
  position: relative;
  z-index: 2;
}

.filter-slide,
.chart-slide {
  position: absolute;
  width: 365px;
  height: calc(100vh - 80px);
  padding: 15px;
  top: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  pointer-events: none;
  left: -150%;
  right: 0;
  background: #f9f9f9;
  color: #333333;
  z-index: 999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter-slide .fa-times,
.chart-slide .fa-times {
  font-size: 25px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.filter-slide .fa-times:hover,
.chart-slide .fa-times:hover {
  opacity: 0.7;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.show-filter,
.show-charts {
  pointer-events: all;
  left: 0%;
}

.chart-slide .chart-list {
  list-style: none;
  padding: 0px;
}

.chart-slide .chart-list .chart-list-li {
  font-weight: 600;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chart-slide .chart-list .chart-list-li span {
  cursor: pointer;
  display: inline;
}

.chart-slide .chart-list .chart-list-li span:hover {
  color: #f04037;
}

.chart-slide .chart-list .chart-list-li .li-opts i {
  color: #f04037;
  cursor: pointer;
}

.chart-slide .chart-list .chart-list-li .li-opts i:hover {
  opacity: 0.7;
}

.chart-slide .chart-list .chart-list-li .li-opts .fa-trash-alt {
  margin-left: 7px;
}

.chart-slide .chart-uploader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

.chart-slide .chart-uploader input[type="file"] {
  max-width: 180px;
}

.chart-slide .no-charts-txt {
  font-size: 14px;
  margin-top: 30px;
}

.filter-slide .type-list,
.filter-slide .region-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
}

.filter-slide .type-list li,
.filter-slide .region-list li {
  font-weight: 800;
  width: 50%;
  margin-bottom: 5px;
}

.filter-slide .type-list li label,
.filter-slide .region-list li label {
  margin-left: 5px;
  text-transform: capitalize;
}

.filter-slide .filter-btn {
  background: #f04037;
  color: #f9f9f9;
  border: 2px solid #f04037;
  margin-right: 15px;
  font-weight: 800;
  font-size: 14px;
  padding: 5px 10px;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border-radius: 5px;
}

.filter-slide .filter-btn:hover {
  background-color: transparent;
  color: #f04037;
}
/*# sourceMappingURL=App.css.map */